*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 3em;
    color: red;
}
.root{
    width: 70vw;
    height: 70vw;
    
}

.map{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.box{
    
    width: 9.5%;
    height: 56px;
    background-color: blanchedalmond;
    text-align: center;
    line-height: 50px;

}

.map>.box:not(:nth-child(n+91)){
    border-bottom: solid 1px black;
}

.map>.box:not(:nth-child(-n+10)){
    border-top: solid 1px black;
}

.map>.box:not(:nth-child(10n)){
    border-right: solid 1px black;
}

.map>.box:not(:nth-child(10n+1)){
    border-left: solid 1px black;
}

.reset{
    width: 10%;
    height: 30px;
    background-color: gray;
    text-align: center;
    margin-top: 10px;
}